/* * { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap');

body{
    background: linear-gradient(108.76deg, #343131 -1.39%, #1D1919 102.08%);
    font-family: 'Catamaran', sans-serif;
}

body, html {
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 98px 1fr;
    height: 100%;
}

.content-sidebar{
    border-right: 1px solid #505050;
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_button{
    display: block;
    width: 100%;
    height: 98px;
    background-size: 24px 24px;
    background: linear-gradient(127.44deg, #505050 0%, #383838 100%);
    border: none;
    position: relative;
}

.sidebar_button::after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(images/menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.sidebar_list{
    list-style: none;
    margin-bottom: 60px;
}

.sidebar_item{
    margin-top: 63px ;
}

.sidebar_item:first-child{
    margin-top: 0 ;
}

.sidebar_link{
    display: block;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-position: center center;

}

.fb{
    background-image: url(images/facebok.svg);
}

.inst{
    background-image: url(images/instagram.svg);
}

.tw{
    background-image: url(images/twitter.svg);
}

.content-header{
    grid-column: 2/3;  /*границы */
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
}

.logo{
    display: block;
    width: 102px;
    height: 31px;
    background-image: url(images/Auxpo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_list{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
}

.header_item{
    margin-right: 67px;
}

.header_link{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.header_link.active{
    font-weight: 800;
}

.folder{
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/icon.svg);
}
.content-main{
    grid-column: 2/3 ;
    grid-row: 2/3;
    color: white;
}

.swiper{
    height: calc(100vh - 98px);
    position: relative;
}

.swiper-pagination-vertical.swiper-pagination-bullets, 
.swiper-vertical>.swiper-pagination-bullets {
    right: inherit;
    left: 60px;
    top: 231px;
    position: absolute;
    width: 203px;
    flex-basis: 203px;
}

.swiper-pagination-bullet-active{
    background: transparent;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin-top: 45px;
    margin-bottom: 45px;
}

.swiper-pagination-bullet{
    background: transparent;
    width: inherit;
    height: inherit;
    text-align: left;
    font-size: 34px;
    font-weight: 800;
   
}

.swiper-wrapper{
    flex-basis: 500px;
    position: static;
}

.swiper-pagination-bullet span{
    display: block;
}

.swiper-pagination-bullet span:nth-child(1){
    font-size: 23px;
    font-weight: 600;
}

.swiper-pagination-bullet span:nth-child(2){
    font-size: 17px;
    font-weight: 600;
    color: #BCBCBC;
}

.swiper-footer{
    position: absolute;
    background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
    backdrop-filter: blur(47.2917px);
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-cover{
    width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
}

.swiper-cover__img{
    position: absolute;
    height: 225px;
    width: 225px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.swiper-info{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 5%;
    padding-left: 60px;
    flex-basis: calc(100% - 360px);
}

.swiper-info__author{
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: Caudex;
    font-size: 23px;
    font-weight: 700;
}

.swiper-info__item{
    font-family: Orbitron;
    font-size: 17px;
    font-weight: 700;
}

.swiper-info__item span{
    display: block;
    color: #BCBCBC;
    font-family: Catamaran;
    font-weight: 500;
    margin-top: 11px

}

.swiper-body{
    margin-left: 50%;
}

.swiper-body__title{
    font-family: Caudex;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
}

.swiper-body__title span{
    position: relative;
}

.swiper-body__title span::before{
    content: '3D printed';
    position: absolute;
    width: 100%;
    color: #FB258B;
    top: 0;
    left: -2px;
    z-index: -1;
}

.swiper-body__title span::after{
    content: '3D printed';
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: -2px;
    left: 5px;
    color: #5025FB;
}

.swiper-body__desc{
    font-size: Catamaran;
    font-size: 20px;
    color: #BCBCBC;
    line-height: 1.4;
}

.swiper-body__buttons{
    display: flex;
    align-items: center;
}

.swiper-body__btn{
    font-family: Orbitron;
    text-decoration: none;
}

.swiper-body__buy{
    font-weight: 700;
    font-size: 18px;
    color: #252525;
    background-color: #fff;
    margin-right: 30px;
    padding: 10px 22px;
    position: relative;
}

.swiper-body__buy::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #FB258B ;
    top: -4px;
    left: -4px;
}

.swiper-body__buy::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #5025FB;
    bottom: -4px;
    right: -4px;
}

.swiper-body__view{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 14px 21px 14px 52px;
    position: relative;
}

.swiper-body__view::before{
    content: '';
    display: block;
    background-image: url(images/watch.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 18px;
    position: absolute;
    left: 21px;
    top: calc(50% - 9px);
}

.swiper-slide__image{
    position: absolute;
    width: 38%;
    bottom: 0;
    left: 10%;
}

@media (max-height: 430px){
    .sidebar_list{
        margin-bottom: 30px;
    }

    .sidebar_item{
        margin-top: 30px ;
    }
}

@media (max-height: 300px){
    .sidebar_button{
        height: 50px;
    }

    .container{
        grid-template-columns: 50px 1fr;
        grid-template-rows: 50px 1fr;
    }

    .sidebar_list{
        padding: 0;
    }

    .logo{
        width: 87px;
        height: 25px;
    }
    .header_link{
        font-size: 15px;
    }
}

@media (max-height: 890px){
    .swiper-slide__image{
        width: auto;
        height: 80vh;
        left: 15%;
    }

    .swiper-cover{
        height: 15vh;
        width: 15vh;
    }

    .swiper-cover__img{
        height: 15vh;
        width: 15vh;
    }

    .swiper-info{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
    }

    .swiper-info__author{
        grid-column: 1/2;
        margin: 0;
        font-size: 15px;
    }

    .swiper-info__item{
        margin: 0;
    }
}
